include ../mixins/mixins
<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{pageTitle}
        link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF' crossorigin='anonymous')
        link(rel="stylesheet", href="/css/main.css")
        script(src='https://use.fontawesome.com/399be23849.js')
        script(src='https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.min.js')
    body
        .wrapper
            .row
                nav.col-2
                    a.blue(href="/")
                        i.fa.fa-weibo
                    a(href="/")
                        i.fa.fa-home
                    a(href="/search")
                        i.fa.fa-search
                    a(href="/notifacations")
                        i.fa.fa-bell
                    a(href="/message")
                        i.fa.fa-envelope
                    a(href="/profile")
                        i.fa.fa-user
                    a(href="/logout")
                        i.fa.fa-sign-out
                .mainSectionContainer.col-10.col-md-8.col-lg-6
                    .titleContainer
                        h1 #{pageTitle}
                    block content
                .d-none.d-md-block.col-md-2.col-lg-4
                    span 右侧内容


        script(src='https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js' integrity='sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB' crossorigin='anonymous')
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.min.js' integrity='sha384-PsUw7Xwds7x08Ew3exXhqzbhuEYmA2xnwc8BuD6SEr+UmEHlX8/MCltYEodzWA4u' crossorigin='anonymous')
        block scripts
        script(src='/js/common.js')

