extends layouts/login-layout
block content
    .loginContainer
        h1 登录
        form(method="post")
            p.errorMessage #{errorMessage}

            input(type="text", name="logUsername", placeholder="Username or email", required="")
            input(type="password", name="logPassword", placeholder="password", required="")
            input(type="submit", value="登录")
        a(href="/register") 没有账号? 立即注册
