extends layouts/login-layout
block content
    .loginContainer
        h1 注册
        form#registerForm(method="post", onsubmit="event.preventDefault(); vaildateForm();")
            p.errorMessage #{errorMessage}

            input(type="text", name="name", value=name, placeholder="name", required="")
            input(type="text", name="username", value=username, placeholder="username", required="")
            input(type="email", name="email", value=email, placeholder="email", required="")
            input#password(type="password", name="password", placeholder="password", required="")
            input#passwordConf(type="password", name="passwordConf", placeholder="Confirm password", required="")
            input(type="submit", value="注册")
        a(href="/login") 已有账号? 立即登录

    script.
        var passwordFidld = document.getElementById('password');
        var passwordConfirmFidld = document.getElementById('passwordConf');
        var form = document.getElementById('registerForm');

        function vaildateForm() {
            if(passwordFidld.value != passwordConfirmFidld.value) {
                alert('Password do not match. Please try again.');
            }else {
                form.submit();
            }
        }
